
.icon-ic_correct {
  display: inline-block;
  background-image: url(~@images/sprite/sprites.png);
  width: 14px;
  height: 14px;
  background-position: 0px 0px;
}
.icon-chapter_ic_edit_n {
  display: inline-block;
  background-image: url(~@images/sprite/sprites.png);
  width: 16px;
  height: 16px;
  background-position: 0px -16px;
}
.icon-chapter_ic_edit_s {
  display: inline-block;
  background-image: url(~@images/sprite/sprites.png);
  width: 16px;
  height: 16px;
  background-position: 0px -34px;
}